<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <title></title>
</head>

<body>
    <h1>TABLICA</h1>
    <table>
        <thead>
            <tr>
                <th>Club</th>
                <th>Points</th>
                <th>Goals Scored</th>
                <th>Goals conceded</th>
                <th>Goal Difference</th>
            </tr>
        </thead>
        <tbody>
            <% for(let [i,club] of data.clubs.entries()){ %>
            <tr><%i%>
                <td style="text-align: center;"><%=club.name%></td>
                <td style="text-align: center;"><%=club.points%></td>
                <td style="text-align: center;"><%=club.goalsScored%></td>
                <td style="text-align: center;"><%=club.goalsConceded%></td>
                <td style="text-align: center;"><%=club.goalsScored - club.goalsConceded%></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
<script>
</script>

</html>